<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">		
		<title>#Goals</title>
		<!-- CSS CDNs for the calendar page -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" integrity="sha512-aV/CBF2tMLcys/fQfJ+0vGZRrPYRrA0KNuwqpdaSz9RCmWQIjrdybgvvHxRnzohAFV0e1B5EsnHR6W3XnH7ryg==" crossorigin="anonymous" />
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha512-+am5K7BRTV+gp0pLhviijcMf4SZCUS2ZMhExySUyQpyC7UQbxuAU99AGcu7iS3L/3KXJolQk5c+MehHezYKYdg==" crossorigin="anonymous" />
    	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    		crossorigin="anonymous">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
	
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	</head>
	<body>
		<h1 id="goalsHeader">#Hashtag Goals</h1>
		{{{ body }}}
		 {{!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}
	</body>
	{{!--  <link rel="stylesheet" href="/assets/css/style-notes.css"> --}}
	{{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha512-+am5K7BRTV+gp0pLhviijcMf4SZCUS2ZMhExySUyQpyC7UQbxuAU99AGcu7iS3L/3KXJolQk5c+MehHezYKYdg==" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js" integrity="sha512-QIMxHSclGiRLi5cBvTOn5HuTcsBQbUV2gg+YGUv/XXZkxgIrDuBXg6ZMjcEVu08yiN9k0L0EZi9ktquP2YOlVQ==" crossorigin="anonymous"></script> --}}
		<script src="../../public/assets/js/login.js" async defer></script>
		<script src="../../public/assets/js/members.js" async defer></script>
		<script src="../../public/assets/js/signup.js" async defer></script> 

	{{!-- 	<script src="../../public/assets/js/signup.js" async defer></script>  --}}

		   
</html>
