<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
		<link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css" />
		<title>#Goals</title>
		<!-- CSS CDNs for the calendar page -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" integrity="sha512-aV/CBF2tMLcys/fQfJ+0vGZRrPYRrA0KNuwqpdaSz9RCmWQIjrdybgvvHxRnzohAFV0e1B5EsnHR6W3XnH7ryg==" crossorigin="anonymous" />
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha512-+am5K7BRTV+gp0pLhviijcMf4SZCUS2ZMhExySUyQpyC7UQbxuAU99AGcu7iS3L/3KXJolQk5c+MehHezYKYdg==" crossorigin="anonymous" />
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
  		<link rel="stylesheet" href="../../public/assets/css/style-notes.css">
		{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../../public/assets/js/destinations.js" async defer></script>
		<script src="../../public/assets/js/goals_calendar.js" async defer></script>
		<script src="../../public/assets/js/login.js" async defer></script>
		<script src="../../public/assets/js/members.js" async defer></script>
		<script src="../../public/assets/js/signup.js" async defer></script> --}}
	</head>
	<body>
		{{{ body }}}
	</body>
{{!-- 	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="../../public/assets/js/destinations.js" async defer></script>
		<script src="../../public/assets/js/goals_calendar.js" async defer></script>
		<script src="../../public/assets/js/login.js" async defer></script>
		<script src="../../public/assets/js/members.js" async defer></script>
		<script src="../../public/assets/js/signup.js" async defer></script> --}}
</html>
