<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Destination</title>
<<<<<<< HEAD
		<script src="/assets/js/goals.js" async defer></script>
=======
		<!-- CSS CDNs for the calendar page -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.css" integrity="sha512-aV/CBF2tMLcys/fQfJ+0vGZRrPYRrA0KNuwqpdaSz9RCmWQIjrdybgvvHxRnzohAFV0e1B5EsnHR6W3XnH7ryg==" crossorigin="anonymous" />
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" integrity="sha512-+am5K7BRTV+gp0pLhviijcMf4SZCUS2ZMhExySUyQpyC7UQbxuAU99AGcu7iS3L/3KXJolQk5c+MehHezYKYdg==" crossorigin="anonymous" />
    

		<script src="/assets/js/destinations.js" async defer></script>
>>>>>>> e99f0d4c40e9e1e0685b17d631ae99ceb730e59c
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
