      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js" integrity="sha512-QIMxHSclGiRLi5cBvTOn5HuTcsBQbUV2gg+YGUv/XXZkxgIrDuBXg6ZMjcEVu08yiN9k0L0EZi9ktquP2YOlVQ==" crossorigin="anonymous"></script>
<div class="ui container">

        <div class="ui menu">
          <a class="header item" href="/changegoal">Change your Goal</a>
          <a class="active item" href="#milestoneNotes">View Milestone Notes</a>
          <div class="right menu">
            <a href="/logout" class="item" >Log Out</a>
          </div>
        </div>
      </div>
      <br/>
      <div class="ui container">

        <h1>Welcome {{dataValues.name}}</h1>
          </div>
        </div>
      </div>
      <br/>
      <div class="ui container"></div>
        <div class="ui grid">
          <div class="ui four column">
            <div id="calendar"></div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <nav class="navbar navbar-dark bg-warning">
            <h1 class="navbar-brand" style="color:black" href="/">Milestone Notes
            </h1>
            <div class="icons">
              <i class="fas fa-save text-light save-note"></i>
              <i class="fas fa-pen text-light new-note"></i>
            </div>
          </nav>
        <div class="row">
          <div class="col-4 list-container">
            <div class="card">
              <ul class="list-group">
              </ul>
            </div>
          </div>
          <div class="col-6" id="milestoneNotes">
            <input class="note-title" placeholder="Milestone" maxlength="28" type="text">
            <textarea class="note-textarea" placeholder="Enter Milestone notes here"></textarea>
          </div>
        </div>
      </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>


      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js" integrity="sha512-3ojOr2FvTavVymsQrQRtSXZW+6HPnPhWYtLmPbd42n7JdOUP75OqSBf91ZTbzLZb04ffqj+5am9W0bM+MDbWAQ==" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.1.0/fullcalendar.min.js" integrity="sha512-ZoSa93h4HcDf7mf8idtRZ490e0QsCNyPzVwEpyON0eL/QzzKnTwK/FctuJDHlJ6HSP93aSVX7gc56UbfBb0RMA==" crossorigin="anonymous"></script>
      <script src="/assets/js/goals_calendar.js"></script>
      <script src="/assets/js/notetaker.js"></script>
      