{{!-- <script src="../../public/assets/js/login.js" async defer></script>
 --}}
{{!-- <div class="ui raised very padded text container segment">
  <h2 class="ui header">Destination: YOU</h2>
  <p> We’ve all been there before. New Year’s resolutions that didn’t work out. Goals we set for ourselves that we never made any progress on. Things we wanted to learn, but never really knew where to start. So we didn’t. Destination is here to change that, where the destination is a better and more accomplished YOU! Destination takes all of the hassle and stress out of trying to learn something new by curating various goals with tasks and milestones to make the seemingly impossible very much a thing of the past.  </p>
  <p>So what do you want to learn? Where do you want to end up? </p>
</div>
 --}}
 <div class="ui grid">
     <div class="sixteen wide column"></div>
      <div class="sixteen wide column"></div>
       <div class="sixteen wide column"></div>
               <div class="sixteen wide column"></div>
    <div class="five wide column"></div>
<div style="justify-items: center;" class="three wide column">

{{!-- <div class="ui form">
  <div class="two fields">
    <div class="field error">
      <label>First Name</label>
      <input placeholder="First Name" type="text">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" type="text">
    </div>
  </div> --}}


    <div class="ui form transparent focus">
      <h1 class="center">Login</h1>
      <form class="login" action="/login" method="POST"> 
        <label for="email"></label>
        <input type="email" id="email-input" name="email" placeholder="email" required>
        <label for="password"></label>
        <input type="password" id="password-input" name="password" placeholder="password" required> 
         </form>
    <br>
    <button id="login" type="submit" class="ui primary button">Login</button>
<h5> No account? &nbsp; <a class="registerHere" href="/">    Register here</a></h5>
 </div>
 <div class="eight wide column"></div>
</div>
 </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>