{{!-- {{#for (let i=0, i<errors.length; i++) {
  <li>{{errors[i]}}</li>
}}}
  --}}
 
 <div class="ui grid">
     <div class="sixteen wide column"></div>
      <div class="sixteen wide column"></div>
       <div class="sixteen wide column"></div>
               <div class="sixteen wide column"></div>
    <div class="five wide column"></div>
<div style="justify-items: center;" class="three wide column">

    <div class="ui form transparent focus">
      <h1 class="center">Login</h1>
      <form class="login" action="/login" method="POST"> 
        <label for="email"></label>
        <input type="email" id="email-input" name="email" placeholder="email" required>
        <label style="margin-bottom: 5px;" for="password"></label>
        <input  type="password" id="password-input" name="password" placeholder="password" required> 
  {{!--       <div class="alert alert-error collapse" role="alert" id="passwordsNoMatchRegister">
          <span>
          <h5 style="color: black">Please Try Again!</h5>
          </span>
        </div>
         <div class="alert alert-error collapse" role="alert" id="blankInputs">
          <span>
          <h5 style="color: black">Please Try Again!</h5>
          </span>
        </div>
         </form> --}}
         <span style="font-family: Arial, Helvetica, sans-serif;" id="alertDIV"></span>
  
    <button id="login" type="submit" class="ui primary button">Login</button>
<h5> No account? &nbsp; <a class="registerHere" href="/">    Register here</a></h5>
 </div>
 <div class="eight wide column"></div>
</div>
 </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha512-U6K1YLIFUWcvuw5ucmMtT9HH4t0uz3M366qrF5y4vnyH6dgDzndlcGvH/Lz5k8NFh80SN95aJ5rqGZEdaQZ7ZQ==" crossorigin="anonymous"></script>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>