{{!-- <script src="../public/assets/js/signup.js" async defer></script> 
 --}}
<div class="three wide column"></div>
<div class="ten wide column">
<div class="ui raised very padded text container segment">
  <h2 class="ui header">Destination: A NEW YOU</h2>
  <p> We’ve all been there before. New Year’s resolutions that didn’t work out. Goals we set for ourselves that we never made any progress on. Things we wanted to learn, but never really knew where to start. So we didn’t. #Hashtag Goals is here to change that, where the destination is a better and more accomplished YOU! #Hashtag Goals takes all of the hassle and stress out of trying to learn something new by curating various goals with tasks and milestones to make the seemingly impossible very much a thing of the past.</p>
  <br>
    <p class="center">So Where do you want to end up? </p>
  <img class="center" src="https://media0.giphy.com/media/3oEdv9QpEXixOiH5xC/source.gif">
  </div>
</div>
    <div class="three wide column"></div>
    <div class="three wide column"></div>
<div class="ten wide column">
<h1 class="center">Register</h1>
<form class="center signup" action="/signup" method="POST"> 
        <label for="name" id="name-input">Name</label>
        <input type="text" id="name" name="name" required>
  
    <div> 
        <label for="email">Email</label>
        <input type="email" id="email-input" name="email" placeholder="Email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password-input" name="password" placeholder="Password" required>
    </div>
    <button id="register" type="submit">Register</button>
 <div><h3>{{user.message}}</h3></div> 
      <div class="three wide column"></div>

 </form> 
 <br />
        <p>Or log in <a href="/login">here</a></p>