body {
    font-family: 'Lobster', cursive;
    background-image: url("../goalsBackground.jpg"); 
}

#goalsHeader {
    padding: 10px;
    font-weight: bold;
    font-family:  cursive;
    color: #fe793d;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    padding-top: 20px;
}
    
p {
    text-align: center;
}

#alertDIV {
    color: wheat;  
    text-shadow: none;
    font-size: small;
    text-shadow: .5px .5px black;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: wheat;
    text-shadow: 2px 1px black;
    }

#email-input {
opacity: 0.9;
}

#password-input {
opacity: 0.9;
}

.glass {
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 5px solid rgba(255,255,255,0.2);
}

#questionsContainer {
    background: rgba(255, 174, 0, 0.8);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
 /*    backdrop-filter: blur( 4px ); */
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.registerHere {
    text-shadow: .5px .5px 1px #000000;
}


#calendar {
    background: rgba(255, 174, 0, 0.8);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
 /*    backdrop-filter: blur( 4px ); */
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}