body {
background-image: url("../goalsBackground.jpg");
background-repeat: no-repeat;
background-size: cover;
font-family: 'Lobster', cursive;
}

#goalsHeader {
    padding: 10px;
    font-weight: bold;
    font-family:  cursive;
    color: #fe793d;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    padding-top: 20px;
}
    
p {
    text-align: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

#email-input {
opacity: 0.9;
}

#password-input {
opacity: 0.9;
}

.glass {
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 5px solid rgba(255,255,255,0.2);
}

.registerHere {
    text-shadow: .5px .5px 1px #000000;
}
